#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  margin: 0;
  padding: 0;
}

#APP {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main {
  flex: 1;
}
.mycontainer{
  max-width: 95%;
  margin: auto;

}